<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532673624403-j5ks084fv9k2kdd953lv3vsnh37vsunk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532673624403-j5ks084fv9k2kdd953lv3vsnh37vsunk</string>
	<key>API_KEY</key>
	<string>AIzaSyCV8YFKforh5ZUXoPm8NrdzztbcNO_EAyA</string>
	<key>GCM_SENDER_ID</key>
	<string>532673624403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aliafzal.ChatApp321</string>
	<key>PROJECT_ID</key>
	<string>chatapplication-d83f7</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapplication-d83f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532673624403:ios:6c3406b1438462914f49a6</string>
	<key>DATABASE_URL</key>
	<string>https://chatapplication-d83f7-default-rtdb.firebaseio.com</string>
</dict>
</plist>